.page-footer {
  background-color: #656565;
  small {
    display: block;
    color: #fff;
    font-size: 11px;
    text-align: right;
    width: 976px;
    margin: 0 auto;
    height: 120px;
    line-height: 120px;
    letter-spacing: 0.15em;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
